<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <!-- Redis 服务器 -->
    <add key="RedisServer" value="172.16.3.244:6379" />
    <!-- Redis 库的索引 -->
    <add key="RedisServerDbIndex" value="5" />
    <!--是否启用代理ip-->
    <add key="IsProxy" value="true" />
    <add key="RocketMqIp" value="47.106.232.106:9876" />
</appSettings>
</configuration>